@import "libs";
@import "fonts";
@import "global";

// header
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;

    &__wrapper{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link:hover{
        border: 2px solid #F9E047;
    }
}
.logo-header{
    width: 165px;
    height: 50px;
}

//  intro
.intro {
    background-color: #F9E047;

    &__wrapper {
        padding: 80px 0 162px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__text {
        flex: 1 1 50%;
       padding: 0 50px 82px 0;
    }
    
    &__img {
        flex: 1 1 55%;
        margin-right: -3%;
    }
}

.text-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
        font-size: 30px;
        line-height: 130%;
        margin-top: 15px;
    }
    &__link {
        margin-top: 42px;
        max-width: 250px;
       display: flex;
       justify-content: center;
    }
}

// About Section
.about {
    padding: 204px 50px 218px;

    &__text {
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        max-width: 700px;
        margin: 0 auto;

        span{
            font-weight: 700;
        }
    }
    &__items {
        margin-top: 123px;
        display: flex;
        justify-content: space-around;
    }
}

.item-about {
    &__img {
        height: 130px;
        width: auto;
        display: flex;
        align-items: center;
    }
    &__text {
        margin: 30px auto 0 ;
        text-align: center;
        font-weight: 700;
        max-width: 170px;
    }
}

// Clients Section
.clients {
    background-color: #F6F6F6;
    padding: 150px 0 166px;

    &__list {
        margin: 72px 35px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    &__item {
        margin: 15px;
        background-color: #fff;
        width: 237px;
        height: 178px;
    }
}


// Team section
.team {
    background-color:#F9E047;
    padding: 169px 0 131px;

    &__wrapper{
        padding: 0 63px;
    }
    &__list {
        display: flex;
        justify-content: center;
    }
    &__quote {
        margin-top: 44px;

        p{
            font-size: 30px;
            line-height: 37px;
        }
        p + p{
            margin-top: 36px;
        }
        cite{
            margin-top: 31px;
            text-align: right;
            display: block;
            font-style: normal;
        }
        strong{
            font-weight: 600;
        }
    }
}

.person-team {
    margin: 0 20px;

    &__photo {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        margin: 30px auto 0;
        text-align: center;
        max-width: 100px;
        text-align: center;
    }
}

// Gallery Section
.gallery {
    img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    &__gif-mob {
        display: none;
    }
    
    
    &__text {
        padding: 123px 0 110px;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }
}

// Process Section
.process {
    background-color: #f6f6f6;
    padding: 150px 0 124px;

    &__wrapper {
        padding: 0 20px;
    }
    &__list {
        margin-top: 80px;
    }
    &__item {
        display: flex;
        justify-content: left;
        align-items: center;

        > *{
            flex: 0 0 33.33%;
        }
        &:nth-child(even){
            flex-direction: row-reverse;
            justify-content: right;
        }
    }
    &__item +  &__item{
        margin-top: -75px;
    }
}

.item-process {
    &__img {
        display: flex;
        justify-content: center;
        
    }
}




// Join Section
.join {
    background: url('../img/join-bg.jpg') left no-repeat;
    background-size: contain;

    &__wrapper {
       padding: 156px 41px 131px 115px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    &__text{
        max-width: 400px;

        p{
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
        }
    }
    &__list {
        margin-top: 27px;
        padding-right: 20px;
    }
    
    &__item +  &__item{
        margin-top: 30px;
    }
}


// Benefits Section
.benefits {
    background-color: #F6F6F6;
    padding: 150px 0 200px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 35px 0 0 0;
    }
    &__item {
        flex: 1 1 33%;
        
    }
}

.item-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 58px 0;

    &__img {
        height: 398px;
        display: flex;
        align-items: center;
    }
    &__text {
        margin-top: 50px;
        max-width: 230px;
        text-align: center;
    }
}

// Calculator section
.calculator {
    padding: 163px 0 195px;

    &__text {
        margin-top: 20px;
        text-align: center;
    }
    &__table {
        margin-top: 30px;
    }
}

.table-calculator {
    td, th{
        height: 100px;
    }
    td{
        white-space: nowrap;
        text-align: center;
    }
    th{
        min-width: 170px;
        text-align: left;
        text-transform: uppercase;
    }
    
    tr:first-child th:nth-child(3){
        padding: 0;
    }
    tr:first-child {
        background-color: #F9E047;
        th{
            text-align: center;
        }
        
    }
    tr:nth-child(2n) {
        background-color: #FFF1B1;       
    }
    table tr:last-child th:first-child {
        border-bottom-left-radius: 10px;
    }
    
    table tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }
    table tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }
    
    table tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }
    &__row {
        display: flex;

        &:first-child{
            justify-content: space-between;
            width: 100%;
            max-width: 1140px;
        }
    }
    &__increase {
        border-collapse: collapse;
        border: none;
        width: auto;

        td, th{
            border: none;
            border-collapse: collapse;
            width: 25%;
            max-width: 190px;
            padding: 0 30px;
        }
        input{
            width: 140px;
            height: 50px;
            background: #FFFFFF;
            border: 1px solid #F9E047;
            border-radius: 10px;
            padding: 0 10px;
            text-align: center;
            font-weight:600; 
        }
        input::-webkit-input-placeholder {
            color: #000;
        }
        input:focus::-webkit-input-placeholder {
            color: transparent;
        }
        /* Firefox < 19 */
        input:-moz-placeholder {
            color: #000;
        }
        input:focus:-moz-placeholder {
            color: transparent;
        }
        /* Firefox > 19 */
        input::-moz-placeholder {
            color: #000;
        }
        input:focus::-moz-placeholder {
            color: transparent;
        }
        
        /* Internet Explorer 10 */
        input:-ms-input-placeholder {
            color: #000;
        }
        input:focus:-ms-input-placeholder {
            color: transparent;
        }
    }
    &__expenses {
        border: none;
        border-collapse: collapse;
        width: auto;

        th{
            padding: 0 10px 0 30px;
            max-width: 180px;
        }
        th, td{
            border: none;
            border-collapse: collapse;
        }
        td{
            padding: 0 10px;
        }
    }
    &__income {
        margin-top: 32px;
        width: 100%;
        
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        height: 106px;
        display: flex;

        
        span{
            background-color: #F9E047;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        span:first-child{
            font-weight: 600;
            text-transform: uppercase;
            width: 233px;
            margin-right: 7px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        span:nth-child(2){
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

// Responsibility Section
.responsibility {
    background-color: #f6f6f6;
    padding: 150px 0 151px;

    &__items {
        display: flex;
        justify-content: space-between;
        margin: 53px 60px 0 80px;
    }
    &__item {
        max-width: 390px;
    }
    li+li{
        margin-top: 26px;
    }
}

.item-responsibility {
    &__img {
        height: 281px;
        display: flex;
        align-items: flex-end;
        margin-left: 30px;
    }
    &__text {
        margin-top: 50px;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }
    &__list {
        margin-top: 20px;
    }
    
}


//  Form Section
.form {
    padding: 150px 0;
    background-color: #F9E047;
    position: relative;

    &::before, &::after{
        content: "";
        position: absolute;
        top: 50%;
        
    }
    &::before{
        left: -69px;
        width: 564px;
        height: 495px;
        background: url('../img/register.png') center no-repeat;
        background-size: contain;
        opacity: 0;
        transform: translateY( -50%) rotate(11.01deg);
    }
    &::after{
        right:0;
        width: 237px;
        height: 435px;
        background: url('../img/phone.png') center no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%) rotate(18.44deg);
        opacity: 0;
    }
    &.animate::before{
        animation: slideRight 2s ease 1.5s forwards,
    }
    &.animate::after{
        animation: slideLeft 2s ease 1.5s forwards,
    }
    
    &__join{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 5;
    }
    &__text {
        margin-top: 25px;
        text-align: center;
    }
    input:not([type="submit"]){
        height: 60px;
        max-width: 487px;
        width:100%;
        padding: 19px 18px;
        margin: 10px 0;
        border-radius: 10px;
        border: none;

    }
    input:first-of-type{
        margin-top: 25PX;
    }
    &__btn{
        margin: 21px auto 0;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #9E9E9E;
        opacity: 1; /* Firefox */
    }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #9E9E9E;
    }
      
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #9E9E9E;
    }
    .wpcf7-form-control-wrap {
        position: relative;

        .wpcf7-not-valid-tip {
            position: absolute;
            bottom: -37px;
            font-size: 12px;
            left: 0;
        }
    }
    .wpcf7-response-output{
        max-width: 487px;
        text-align: center;
    }
    .wpcf7 .wpcf7-response-output {
        display: none !important;
    }
}

// Footer
.footer{
    padding: 150px 0;
    background-color: #2A292E;
    text-align: center;
    color: #fff;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;

    
    &__phone, &__email{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: block;
    }
    &__text {
        font-size: 30px;
        line-height: 30px;
       border-bottom: 1px solid #fff;
        text-transform: uppercase;
        display: inline-block !important;
    }
    &__phone {
        margin-top: 88px;
    }
    &__logo {
        width: 265px;
        height: 135px;
        margin: 0 auto;
        margin-top: 107px;
    }
}

.pop-up__gratitude{
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #F9E047;
    display: none;
    width: 100%;
}
.pop-up__wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p{
        margin-top: 40px;
        text-align: center;
    }
}
.pop-up__close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;
 
    &:hover {
    opacity: 1;
    }

    &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #000;
    }

    &:before {
    transform: rotate(45deg);
    }
    &:after {
    transform: rotate(-45deg);
    }
}


@import "media";

@keyframes slideRight{
    0%{
        left: -569px;
    }
    100%{
        opacity: 1;
        left: -69px;
    }
}
@keyframes slideLeft{
    0%{
        opacity:0;
        right:-500px;
    }
    100%{
        opacity: 1;
        right:0;
    }
}
